.homepage {
  padding: 4rem 2rem;
  background-color: #f5d9f8;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-content {
  text-align: center;
}

.homepage h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #862a7f;
}

.homepage p {
  font-size: 1.2rem;
  color: #824086;
}
